@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">Group4FullSD</a>
    <input type="checkbox" id="menu-toggle" class="navbar-toggler" title="Navigation menu" />
    <label for="menu-toggle" class="navbar-toggler-icon"></label>
    <ul class="nav-bar">
        <li class="nav-item">
            <NavLink class="nav-link" href="">
                <span class="bi bi-house-door-fill-nav-menu"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu"></span> @context.User.Identity?.Name
                    </NavLink>
                </li>
                <li class="nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link btn btn-link">
                            <span class="bi bi-arrow-bar-left-nav-menu"></span> Logout
                        </button>
                    </form>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        <li class="nav-item">
            <NavLink class="nav-link" href="adopterpage">
                <span class="bi bi-list-nested-nav-menu"></span> Adopter Page
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="pet">
                <span class="bi bi-list-nested-nav-menu"></span> Pets
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
